<div>
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <label for="username">Bruger:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>

  <!-- <a href="http://localhost:4200/register">Don't have an account? Register here</a> -->
  <a routerLink="/register">Don't have an account? Register here</a>
  <!-- Add this line -->
</div>